.body-container-1{
    width: 80%;

}

h3 {
    font-size: 4rem;
    padding: 0%;
    margin: 15% 10% 5% 10%;
}

p {
    font-size: 2rem;
    color: @bright-white;
    padding: 0%;
    margin: 5% 10% 5% 10%;
}

.btn {
    .btn(@bright-white, @zwillo-blue);
    white-space:nowrap;
}

.btn:hover {
    background-color: @off-white;
    color: @zwillo-blue;
}