.body-container-1{
    width: 80%;
    
    #btn {
        .flex(row, center, center);
        .btn(@bright-white, @zwillo-blue);
        white-space:nowrap;
        &:hover {
            background-color: @off-white;
            color: @zwillo-blue;
        }
        max-height: 50px;
        min-width: 100px;

        @media @mobile {
            .f5();
        }
        
    }
    
    
}

input {
    padding: 5% 15%;
    margin: 2% 10%;
}

